{{ define "main" }}
{{- partial "content/breadcrumb.html" . -}}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-14">

  <article class="md:col-span-2 prose lg:prose-lg">

    <header class="not-prose">
      
      <h1 id="title" class="text-4xl font-bold leading-normal">{{ .Title }}</h1>

      <div id="lead" class="my-6">

        <p class="font-bold">{{ .Params.description }} </p>

      </div>
      
      <div id="writer" class="flex items-center space-x-4">
      

            {{- $authorName := .Params.authors | default site.Params.defaultAuthor -}}
            {{- $authorList := site.Params.authors.author -}}
            {{- $author := index (where $authorList "name" $authorName) 0 -}}

            {{- with $author -}}
            <img class="w-12 h-12 bg-black rounded-full" src="{{ .avatar }}" alt="{{ .name }} avatar" width="48" height="48">

            {{- end -}}
        
        <ul class="flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto">
          
          <li class="font-semibold my-2">{{ $authorName }}</li>
          
          <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
            {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
            {{- $dateHuman := .Date | time.Format ":date_long" -}}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          </li>

          <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
            {{ .ReadingTime }} min read
          </li>

        </ul>

      </div>
      
    </header>

    <figure id="featureimage" class="rounded-xl aspect-video">

      {{- if .Params.image }}

        {{- if ( strings.HasPrefix .Params.image "http" ) }}

          <img class="rounded-lg" src="{{ .Params.image }}" alt="{{ .Params.title }}">

        {{- else }}

          {{- with $image := resources.Get .Params.image }}
            {{- $image := $image.Resize "750x" }}
            <img class="rounded-lg" src="{{ $image.Permalink }}" alt="{{ .Params.title }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
          {{- end }}

        {{- end }}

      {{- end }}

      {{- if ( isset .Params "caption" ) }}
        <figcaption class="text-center italic text-xs">{{ .Params.caption }}</figcaption>
      {{- end }}

    </figure>

    <div id="content" class="mb-14">
      <!-- Content -->

      {{- .Content -}}

      <!-- Tags list -->

      {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}

    </div>

    <footer id="content-footer" class="not-prose">

      <div id="comment" class="border p-8 bg-zinc-100 rounded-2xl">

        <h2 class="text-xl font-semibold">Comment</h2>

        <p>Disqus comment here</p>

        {{-  template "_internal/disqus.html" .  -}}

      </div>

      <div id="author-box" class="my-8 md:my-14 border p-8 bg-zinc-100 rounded-2xl">

        <img class="w-20 h-20 rounded-full" src="{{ $author.avatar }}" alt="{{ $author.name }}">

        <h2 class="text-xl font-bold my-4">Written by : {{  $author.name  }}</h2>

        <p class="mb-4">{{ $author.bio }}</p>

        <ul class="flex flex-wrap space-x-4">
          <li>
            <a class="flex items-center decoration-auto hover:underline" href="{{ $author.linkedin }}" target="_blank" rel="noopener">
              <svg fill="currentColor" width="22" height="22" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M20.47,2H3.53A1.45,1.45,0,0,0,2.06,3.43V20.57A1.45,1.45,0,0,0,3.53,22H20.47a1.45,1.45,0,0,0,1.47-1.43V3.43A1.45,1.45,0,0,0,20.47,2ZM8.09,18.74h-3v-9h3ZM6.59,8.48h0a1.56,1.56,0,1,1,0-3.12,1.57,1.57,0,1,1,0,3.12ZM18.91,18.74h-3V13.91c0-1.21-.43-2-1.52-2A1.65,1.65,0,0,0,12.85,13a2,2,0,0,0-.1.73v5h-3s0-8.18,0-9h3V11A3,3,0,0,1,15.46,9.5c2,0,3.45,1.29,3.45,4.06Z"/></svg>
              <span class="ml-2">Linkedin</span>
            </a>
          </li>
          
          <li>
            <a class="flex items-center decoration-auto hover:underline" href="{{ $author.twitter }}" target="_blank" rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
              </svg>
              <span class="ml-2">Twitter</span>
            </a>
          </li>
        </ul>
        
      </div>

      <div id="related-post" class="">

        <h2 class="text-xl md:text-2xl font-bold mb-6 md:mb-8">Recommended for You</h2>

        {{- $related := .Site.RegularPages.Related . | first 2 -}}

        {{- with $related -}}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          {{- range . }}

          {{- partial "content/card.html" . -}}

          {{- end }}
          
        </div>

        {{- end }}
      </div>

    </footer>

  </article>

  <!-- Aside -->
  <aside class="md:col-span-1">

    {{- partial "content/aside.html" . -}}
    
  </aside>

</div>
  
{{ end }}
